<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">
    
    <title>AeroSoc. - Cocktails!</title>
    
    <link rel="stylesheet" href="css/event.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#233136">
    <meta name="theme-color" content="#ffffff">
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/mobile.css">
    
</head>

<body>
    
    <div class="container">
        <div id="head">
            <a href="http://www.aerosoc.co.uk"><span class="glyphicon glyphicon-home"></span></a>
<!--            <a href="https://www.facebook.com/events/110002852810067/"><div id="facebook" class="desktop"><img src="img/facebook.png"><h5>AeroSoc. Suit Up!</h5></div></a>-->
        </div>
        <div id="cover">
            <div id="dim">
                <div id="details">
                    <h1>Cocktail Night </h1><a href=""><div id="facebook" class=""><img src="img/facebook.png"> </div></a>
                    <p><span class="glyphicon glyphicon-time"></span> Friday 14th October 2016</p>
                    <p><a href="http://www.barandcompany.com">Bar&amp;Co.</a></p>
                    <br>
                    <p id="main-text">
                       Dress to impress as you join us on Thursday 24th November for our biggest event of the year - the AeroSoc Formal Party!! It will be taking place at the Bar&amp;Co with views to the London Eye, Big Ben and Oxo tower.<br><br class="desktop">

                        We will be releasing 30 early bird tickets at £12 which will later increase in price so get your tickets as soon as possible!! <br><br class="desktop">
                        
                        Get your tickets <a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/aeronautics-products/15057/aerosoc-formal-party">here!</a><br><br class="desktop">
                        
                        The venue is located and moored at Temple pier (District/Circle line – Temple Station). There is an open deck with mini bar that runs until midnight and a main lower deck with dancing and sitting area which will run until 3am!!<br><br class="desktop">
                        
                        AeroSoc and CGCU will be subsidizing £1200 worth of free drinks to help you get through the night ;) I’ll be posting the list of the available alcoholic and non-alcoholic drinks later. Once the bar tab is finished, you will still be able to buy your own drinks or tapas!! <br><br class="desktop">
                        
                        AeroSoc will have the pleasure of counting with Ministry of Sound DJs to make it an unforgettable night!! <br><br class="desktop">
                        
                        This is AeroSoc.'s flagship event so be sure not to miss it!!<br><br class="desktop">


                    
                    </p>
                </div>
                <img src="img/badge.png" id="badge">
            </div>
        </div>
        
        
        <div id="foot">
            
<!--            <h5>AeroSoc. Pub Crawl</h5>-->
           
        </div>
    
    </div>

    
</body>


</html>